@model Dal.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Form</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Amazing Test  </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="Home/Index">Home</a></li>
                <li><a href="~/Admin/StudentBoard">academy Management</a></li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="SignUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="logIn"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <form asp-controller="Admin" asp-action="Submit" method="post" >
        <ol type="1">
            @foreach (var question in ViewBag.questionData as List<Dal.Question>)
            {
                <li>
                    
                    <p > @question.Description </p>
                   
                    <input type="hidden" name="questionid " value="@question.QuestionId"/>
                    <ol>

                        @foreach (var choice in question.choice)
                        {
                        <li>
                            @choice.ChoiceText
                                 <input type="radio" name="question_@question.QuestionId"
                                  value="@choice.ChoiceId" />
                         </li>

                        }

                    </ol>
                </li>
            }
        </ol>

        <input type="submit" value="Submit" />

    </form>
</body>
</html>
