
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @* navbar bootstrap*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                @*adres ha ro dorost kon*@
                <a class="navbar-brand" href="#">Amazing Test for you </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="Home/Index">Home</a></li>
                <li><a href="~/Admin/UserBoard">academy Management</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="~/Account/SignUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="~/Account/logIn"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>


    <div class="container">
        <h2>Choice Create form:</h2>
        <p>please enter the text of your choice :</p>
        <form class="form-horizontal" action="~/Admin/CreateChoice" method="post">
            <div class="form-group">
                <label for="ChoiceText">ChoiceText:</label>
                <input type="text" class="form-control" id="ChoiceText" placeholder="Enter Choice Text" name="ChoiceText">
            </div>
            <div class="form-group">
                <label for="questionId">Question Id:</label>
                <input type="text" class="form-control" id="questionId" placeholder="Enter question number " name="questionId">
            </div>

            <button type="submit" class="btn btn-primary">create Choice</button>
        </form>
    </div>

</body>
</html>
