
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Submit</title>
</head>
<body>
    <h3>thank you for your answers </h3>
    <p>You are allowed to participate in this survey once!  </p>
    <a href="~/Account/logIn">come back to your Profile </a>
     Score:@ViewBag.scoreData
</body>
</html>
